body{
    margin:0;
    box-sizing: border-box;
}
.header {
    background:linear-gradient(180deg, rgba(12, 19, 79, 0.577) 0%, rgba(29, 39, 125, 0.615) 24%, rgba(92, 70, 156, 0.653) 48%, rgba(135, 88, 181, 0.604) 100%), url("imagem/header.jpg");
    background-size: cover;
    background-position: top;
    height:650px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.navcontainer{
    display: flex;
    width: 100%;
    justify-content: center;
    top:0;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding:25px;
    gap: 40px;
    width: 80%;
    box-sizing: border-box;
   
}
.nav a{
    font-family: 'Poppins', sans-serif;
    font-size:23px;
    color:white;
}
.smartfliplogo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding:45px;
    gap: 40px;
    width: 20%;
    box-sizing: border-box;
}
.smartfliplogo a{
    font-family: 'Poppins', sans-serif;
    font-size:40px;
    color:white;
}
.titulo{
   display: flex;
   align-items: center;
   justify-content: flex-start;
   flex-direction: column;
   height: auto;
}
.titulo h1{
    font-family: 'Poppins', sans-serif;
    font-size:170px;
    color:white;
    margin: 0;
}
.titulo .roxo{
    color:rgb(216, 125, 216);
    padding: 15px;
    border-radius: 20px;
}
.titulo p{
    font-family: 'Poppins', sans-serif;
    font-size:20px;
    color:white;
    margin: 0;
}
.titulo a{
    background-color:rgba(72, 5, 86, 0.595);
    padding:10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size:20px;
    color:rgb(255, 255, 255);
    width: 200px;
    border: 2px solid #D87DD8;
}
.section1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(0deg, rgb(15, 6, 19) 0%, rgba(38, 13, 41, 0) 35%), url("imagem/section1.svg");
    background-size: cover;
    width: 100%;
    box-sizing: border-box;
    height: auto;
    border-top: 3px solid white;
    padding-bottom: 50px;
    
}
.section1 hr{
    color: white;
    width: 60%;
    margin-top: 50px;
}
.section1 h1{
    font-family: 'Poppins', sans-serif;
    font-size:40px;
    color:white;
    margin: 0;
}
.section1 p{
    font-family: 'Poppins', sans-serif;
    font-size:18px;
    color:white;
    text-align: center;
}
.containerlinks{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: auto;
    gap: 50px;
    width: 100%;
}
.containerlinks h1{
    font-family: 'Poppins', sans-serif;
    font-size:30px;
    color:white;
    margin: 0;
}
.containerlinks p{
    font-family: 'Poppins', sans-serif;
    font-size:18px;
    color:white;
    margin: 0;
    width: 60%;
    text-align: center;
   
}
.musculacaocontainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 50%;
}
.musculacaocontainer a{
    background-color:rgba(216, 125, 216, 0.203);
    padding:10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size:20px;
    color:rgb(255, 255, 255);
    width: 200px;
    border: 2px solid rgb(216, 125, 216);
    
}
.musculacao{
    margin-top: -35px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px -115px 0px -83px rgb(132, 36, 164);
    padding: 15px;
    border: 3px solid rgb(216, 125, 216);
    background-color: #1b0d32;
    
}
.desc{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    gap:10px;
}
.musculacao img{
    max-width: 100%;
    height: auto;
}
.section2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(180deg, rgb(15, 6, 19) 0%, rgba(38, 13, 41, 0)50%), url("imagem/section2.svg");
    background-size: cover;
    width: 100%;
    box-sizing: border-box;
    height: 500px;
    border-top: 2px solid white;

}
.section2 h1{
    font-family: 'Poppins', sans-serif;
    font-size:40px;
    color:white;
    margin: 0;
}
.planos {
    display: flex;
    align-items: first baseline;
    justify-content: center;
    flex-direction: row;
    background-color: #d87dd824;
    padding: 15px;
    border-radius: 15px;
}

.planos h1{
    font-family: 'Poppins', sans-serif;
    font-size:25px;
    color:white;
    margin: 0;
    text-align: center;
}
.planos .sim{
    font-size: 30px;
    color: #D87DD8;
}
.planos .nao{
    font-size: 30px;
    color: #9b1627;
}
.beneficios{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    border: 3px solid white;
}
.beneficios p{
    font-family: 'Poppins', sans-serif;
    font-size:25px;
    color:white;
    margin: 0;
    display: flex;
    justify-content: left;
}
.comum{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 25px;
    gap:16px;
}
.comum a{
    font-family: 'Poppins', sans-serif;
    font-size:15px;
    color:white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #D87DD8;
}
.premium{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    gap:16px;
}
.premium a{
    font-family: 'Poppins', sans-serif;
    font-size:15px;
    color:white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #D87DD8;
    background-color: #d87dd851;
}
.premium h1{
    font-family: 'Poppins', sans-serif;
    font-size:25px;
    color:white;
    margin: 0;
    text-align: center;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
}

.containercit{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap:10px;
}
.citacao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40%;
    background-color: #180b2e74;
    padding: 25px;
    border-radius: 15px;
    

}
.title img{
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    border: 2px solid #D87DD8;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title h1{
    font-family: 'Poppins', sans-serif;
    font-size:25px;
    color:white;
    margin: 0;
    text-align: center;
}
.desccit{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 50%;
    padding: 25px;
}
.desccit p{
    font-family: 'Poppins', sans-serif;
    font-size:16px;
    color:white;
    text-align: left;
    background-color: #1b0d327a;
    padding: 10px;
    border-radius: 15px;
    border-left:1px solid #d87dd879
}

.footercontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #1b0d32;
    padding: 25px;
}
.footercontainer p{
    font-family: 'Poppins', sans-serif;
    font-size:16px;
    color:white;
    text-align: center;
}
.newsletter{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.footer2{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.footer2 p{
    font-family: 'Poppins', sans-serif;
    font-size:18px;
    color:white;
    margin: 0;
    width: 60%;
    text-align: center;
}
.contato{
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contato ion-icon{
    font-size: 30px;
    color:white;
}
.campocontainer{
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icone ion-icon{
    font-size: 34px;
    color:black;
    background-color: #977ebe84;
    padding: 21px;

}
.campo input[type=text]{
    border:none;
    padding: 30px;
    color: black;
}
input::placeholder{
    color: black;
    font-family: 'Poppins', sans-serif;
}








